<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConversationDetail</key>
	<dict>
		<key>AttachIcon</key>
		<string>FCResources.bundle/Images/freshchat_upload_icon</string>
		<key>ChatBubbleRight</key>
		<string>FCResources.bundle/Images/freshchat_chat_bubble_right</string>
		<key>ChatBubbleLeft</key>
		<string>FCResources.bundle/Images/freshchat_chat_bubble_left</string>
		<key>CancelIcon</key>
		<string>FCResources.bundle/Images/freshchat_cancel_icon</string>
		<key>TeamMemberAvatarIcon</key>
		<string></string>
		<key>SendIcon</key>
		<string>FCResources.bundle/Images/freshchat_send_icon</string>
		<key>RecordIcon</key>
		<string>FCResources.bundle/Images/freshchat_mic_icon</string>
		<key>TeamMemberAvatarStyle</key>
		<dict>
			<key>visible</key>
			<true/>
		</dict>
		<key>TeamMemberNameTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>TeamMemberMessageTextStyle</key>
		<dict>
			<key>textColorLink</key>
			<string>#2283F6</string>
			<key>fontName</key>
			<string>Arial</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string></string>
		</dict>
		<key>TeamMemberMessageTimeTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>11.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>UserMessageTextStyle</key>
		<dict>
			<key>textColorLink</key>
			<string>#2283F6</string>
			<key>fontName</key>
			<string>Arial</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string></string>
		</dict>
		<key>UserMessageTimeTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>11.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>MessageButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>borderColor</key>
			<string>#000000</string>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>selectedColor</key>
			<string>#000000</string>
		</dict>
		<key>MessageReplyInputViewStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>textColorHint</key>
			<string>#D3D3D3</string>
			<key>textCursorColor</key>
			<string>#808285</string>
			<key>borderColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>buttonColor</key>
			<string>#000000</string>
		</dict>
		<key>MessageReplyViewStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>dividerColor</key>
			<string>#B3B3B3</string>
		</dict>
		<key>CustomerSurveyDialogStyle</key>
		<dict>
			<key>background</key>
			<string>#F7F7F7</string>
			<key>dividerColor</key>
			<string>#B3B3B3</string>
		</dict>
		<key>CustomerSurveyRatingBarStyle</key>
		<dict>
			<key>foreground</key>
			<string>#0BA4DB</string>
		</dict>
		<key>CustomerSurveyQuestionTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>CustomerSurveyCommentsInputViewStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>borderColor</key>
			<string>#808285</string>
		</dict>
		<key>CustomerSurveySubmitButtonTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#378CF8</string>
			<key>background</key>
			<string>#F7F7F7</string>
		</dict>
		<key>ChatResolutionPromptTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#1D2129</string>
		</dict>
		<key>ChatResolutionPromptViewStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>ChatResolutionNegativeButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#535353</string>
			<key>background</key>
			<string>#F6F6F5</string>
			<key>borderColor</key>
			<string>#808285</string>
		</dict>
		<key>ChatResolutionPositiveButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#007AFF</string>
			<key>borderColor</key>
			<string>#808285</string>
		</dict>
		<key>BackButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>16.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>ConversationBannerMessageStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#34AADC</string>
		</dict>
		<key>MessagePadding</key>
		<dict>
			<key>UserMessageLeft</key>
			<string>10</string>
			<key>UserMessageRight</key>
			<string>8</string>
			<key>UserMessageTop</key>
			<string>8</string>
			<key>UserMessageBottom</key>
			<string>8</string>
			<key>AgentMessageLeft</key>
			<string>8</string>
			<key>AgentMessageRight</key>
			<string>8</string>
			<key>AgentMessageTop</key>
			<string>8</string>
			<key>AgentMessageBottom</key>
			<string>8</string>
		</dict>
		<key>MessageListStyle</key>
		<dict>
			<key>background</key>
			<string>FCResources.bundle/Images/freshchat_conv_bg</string>
		</dict>
		<key>ChatBubbleInsets</key>
		<dict>
			<key>AgentBubbleTop</key>
			<string>10</string>
			<key>AgentBubbleLeft</key>
			<string>10</string>
			<key>AgentBubbleBottom</key>
			<string>10</string>
			<key>AgentBubbleRight</key>
			<string>10</string>
			<key>UserBubbleTop</key>
			<string>10</string>
			<key>UserBubbleLeft</key>
			<string>10</string>
			<key>UserBubbleBottom</key>
			<string>10</string>
			<key>UserBubbleRight</key>
			<string>10</string>
		</dict>
	</dict>
	<key>ChannelList</key>
	<dict>
		<key>ChannelNameTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#222222</string>
		</dict>
		<key>ChannelDescriptionTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#ABABAB</string>
			<key>maxLines</key>
			<string>1</string>
		</dict>
		<key>ChannelLastUpdatedAtTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>12.0f</string>
			<key>textColor</key>
			<string>#ABABAB</string>
		</dict>
		<key>ChannelUnreadCountTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#3399FF</string>
		</dict>
		<key>ChannelAltIconStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>22.0f</string>
			<key>background</key>
			<string>#3F51B5</string>
		</dict>
		<key>ChannelListStyle</key>
		<dict>
			<key>background</key>
			<string>#F8FAFA</string>
			<key>dividerColor</key>
			<string>#DE4147</string>
		</dict>
		<key>ChannelListItemStyle</key>
		<dict>
			<key>backgroundSelected</key>
			<string>#DCDCDC</string>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>ChannelListEmptyTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#525454</string>
		</dict>
	</dict>
	<key>NavigationBar</key>
	<dict>
		<key>TitleTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>ActionButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>16.0f</string>
			<key>textColor</key>
			<string>#0079FF</string>
		</dict>
		<key>NavigationBarStyle</key>
		<dict>
			<key>background</key>
			<string>#F8F8F8</string>
		</dict>
		<key>SubTitleTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textColor</key>
			<string>#6D6D6D</string>
		</dict>
	</dict>
	<key>FAQDetail</key>
	<dict>
		<key>FAQUpvoteButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#007AFF</string>
			<key>borderColor</key>
			<string>#D8D8D8</string>
		</dict>
		<key>FAQDownvoteButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#535353</string>
			<key>background</key>
			<string>#F6F6F5</string>
			<key>borderColor</key>
			<string>#C1C1BF</string>
		</dict>
		<key>FAQVotingPromptViewStyle</key>
		<dict>
			<key>background</key>
			<string>#F6F6F5</string>
		</dict>
		<key>FAQVotingPromptTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#535353</string>
		</dict>
	</dict>
	<key>Notification</key>
	<dict>
		<key>TitleTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#EFEFEF</string>
		</dict>
		<key>BodyTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#EFEFEF</string>
		</dict>
		<key>IconStyle</key>
		<dict>
			<key>borderColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#3F51B5</string>
		</dict>
		<key>NotificationStyle</key>
		<dict>
			<key>background</key>
			<string>#6D6D6D</string>
		</dict>
		<key>NotificationCancel</key>
		<string>FCResources.bundle/Images/freshchat_notification_cancel_icon</string>
		<key>ShowPushPrompt</key>
		<true/>
	</dict>
	<key>Miscellaneous</key>
	<dict>
		<key>DefaultGlobalFont</key>
		<string>SYS_DEFAULT_FONT_NAME</string>
		<key>ContactUsTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#4D90E9</string>
		</dict>
		<key>StatusBarStyle</key>
		<dict>
			<key>StatusBarBackground</key>
			<string>UIStatusBarStyleDefault</string>
		</dict>
		<key>ImagePreviewStyle</key>
		<dict>
			<key>background</key>
			<string>#000000</string>
		</dict>
		<key>ProgressBarStyle</key>
		<dict>
			<key>progressBarColor</key>
			<string>#6D6D6D</string>
		</dict>
	</dict>
	<key>SearchBar</key>
	<dict>
		<key>CancelButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#0079FF</string>
		</dict>
		<key>SearchQueryTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>textColorHint</key>
			<string>#808285</string>
			<key>borderColor</key>
			<string>#FFFFFF</string>
			<key>textCursorColor</key>
			<string>#0079FF</string>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>SearchBarStyle</key>
		<dict>
			<key>background</key>
			<string>#F8F8F8</string>
			<key>searchIcon</key>
			<string></string>
			<key>clearIcon</key>
			<string></string>
		</dict>
	</dict>
	<key>FAQList</key>
	<dict>
		<key>FAQListStyle</key>
		<dict>
			<key>background</key>
			<string>#F8FAFA</string>
		</dict>
		<key>FAQListItemStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>backgroundSelected</key>
			<string>#C9C9CA</string>
			<key>dividerColor</key>
			<string>#C9C9CA</string>
		</dict>
		<key>FAQTitleTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>FAQListEmptyTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#525454</string>
		</dict>
	</dict>
	<key>FAQCategoryList</key>
	<dict>
		<key>FAQCategoryNameTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#222222</string>
		</dict>
		<key>FAQCategoryDescriptionTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#808285</string>
			<key>maxLines</key>
			<string>1</string>
		</dict>
		<key>FAQCategoryListStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>FAQCategoryAltIconStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>22.0f</string>
			<key>background</key>
			<string>#535353</string>
		</dict>
		<key>FAQCategoryListItemStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>backgroundSelected</key>
			<string>#DCDCDC</string>
			<key>dividerColor</key>
			<string>#C9C9CA</string>
			<key>borderColor</key>
			<string>#9A9B9E</string>
		</dict>
	</dict>
	<key>Images</key>
	<dict>
		<key>NotificationCancel</key>
		<string>FCResources.bundle/Images/freshchat_notification_cancel_icon</string>
		<key>SearchIcon</key>
		<string>FCResources.bundle/Images/freshchat_search_icon</string>
		<key>ContactUsIcon</key>
		<string>FCResources.bundle/Images/freshchat_contact_us_icon</string>
		<key>ContactUsLightIcon</key>
		<string>FCResources.bundle/Images/freshchat_contact_us_light_icon</string>
		<key>BackButton</key>
		<string>FCResources.bundle/Images/freshchat_back_button_icon</string>
		<key>MessageSending</key>
		<string>FCResources.bundle/Images/freshchat_sending_icon</string>
		<key>MessageSent</key>
		<string>FCResources.bundle/Images/freshchat_sent_icon</string>
		<key>ImageMessagePlaceholder</key>
		<string>FCResources.bundle/Images/freshchat_image_placeholder</string>
		<key>AudioMessagePlayButton</key>
		<string>FCResources.bundle/Images/freshchat_play_icon</string>
		<key>AudioMessageStopButton</key>
		<string>FCResources.bundle/Images/freshchat_stop_icon</string>
		<key>AudioProgessBarMin</key>
		<string>FCResources.bundle/Images/freshchat_audio_progess_min_icon</string>
		<key>AudioProgessBarMax</key>
		<string>FCResources.bundle/Images/freshchat_audio_progess_max_icon</string>
		<key>TableViewAccessoryIcon</key>
		<string>FCResources.bundle/Images/freshchat_right_arrow_icon</string>
		<key>EmptySearchImage</key>
		<string>FCResources.bundle/Images/freshchat_empty_search_icon</string>
		<key>CloseImagePreview</key>
		<string>FCResources.bundle/Images/freshchat_close_image_preview</string>
		<key>ChannelImage</key>
		<string>FCResources.bundle/Images/freshchat_channels_image</string>
		<key>FAQImage</key>
		<string>FCResources.bundle/Images/freshchat_faq_image</string>
	</dict>
</dict>
</plist>
