<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConversationDetail</key>
	<dict>
		<key>Country</key>
		<dict>
			<key>defaultCountryCode</key>
			<string>US</string>
			<key>TextStyle</key>
			<dict>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0f</string>
				<key>textColor</key>
				<string>#000000</string>
			</dict>
		</dict>
		<key>CountryList</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>CloseButtonStyle</key>
			<dict>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>textColor</key>
				<string>#2C5CC5</string>
			</dict>
			<key>ScreenTitleStyle</key>
			<dict>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>textColor</key>
				<string>#12344D</string>
			</dict>
			<key>RowStyle</key>
			<dict>
				<key>checkmarkColor</key>
				<string>#2C5CC5</string>
				<key>selectedColor</key>
				<string>#E5F2FD</string>
				<key>unselectedColor</key>
				<string>#FFFFFF</string>
			</dict>
			<key>SelectedCountryStyle</key>
			<dict>
				<key>textSize</key>
				<string>17.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
				<key>textColor</key>
				<string>#2C5CC5</string>
			</dict>
			<key>UnselectedCountryStyle</key>
			<dict>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>textColor</key>
				<string>#12344D</string>
			</dict>
			<key>SelectedCountryCodeStyle</key>
			<dict>
				<key>textColor</key>
				<string>#2C5CC5</string>
			</dict>
			<key>UnselectedCountryCodeStyle</key>
			<dict>
				<key>textColor</key>
				<string>#647A8E
</string>
			</dict>
		</dict>
		<key>ResendOTP</key>
		<dict>
			<key>ViewStyle</key>
			<dict>
				<key>backgroundColor</key>
				<string>#EBEFF3</string>
			</dict>
			<key>NormalButtonStyle</key>
			<dict>
				<key>textSize</key>
				<string>15.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
				<key>textColor</key>
				<string>#2C5CC5</string>
			</dict>
			<key>DisabledButtonStyle</key>
			<dict>
				<key>textSize</key>
				<string>15.0f</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textColor</key>
				<string>#475867</string>
			</dict>
		</dict>
		<key>FeedbackRatingStyle</key>
		<dict>
			<key>selectedfontName</key>
			<string>SYS_SEMI_BOLD_FONT_NAME</string>
			<key>selectedTitleTextColor</key>
			<string>#12344D</string>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textColor</key>
			<string>#475867</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>submitButtonStyle</key>
			<dict>
				<key>backgroundColor</key>
				<string>#12344D</string>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
			</dict>
		</dict>
		<key>FeedbackSuccessDialog</key>
		<dict>
			<key>dividerBackgroundColor</key>
			<string>#EBEFF3</string>
			<key>backgroundColor</key>
			<string>#FEFFFF</string>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textColor</key>
			<string>#475867</string>
			<key>textSize</key>
			<string>15.0f</string>
		</dict>
		<key>FeedbackPollStyle</key>
		<dict>
			<key>dividerBackgroundColor</key>
			<string>#EBEFF3</string>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>submitButtonStyle</key>
			<dict>
				<key>backgroundColor</key>
				<string>#12344D</string>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
			</dict>
			<key>optionButtonStyle</key>
			<dict>
				<key>selectedfontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
				<key>selectedTextColor</key>
				<string>#2C5CC5</string>
				<key>selectedColor</key>
				<string>#E5F2FD</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textColor</key>
				<string>#12344D</string>
				<key>textSize</key>
				<string>15.0f</string>
				<key>backgroundColor</key>
				<string>#EBEFF3</string>
			</dict>
		</dict>
		<key>AttachIcon</key>
		<string>FCResources.bundle/Images/freshchat_upload_icon</string>
		<key>FileAttachmentSendIcon</key>
		<string>FCResources.bundle/Images/freshchat_file_send_icon</string>
		<key>ChatBubbleRight</key>
		<string>FCResources.bundle/Images/freshchat_chat_bubble_right</string>
		<key>ChatBubbleLeft</key>
		<string>FCResources.bundle/Images/freshchat_chat_bubble_left</string>
		<key>CancelIcon</key>
		<string>FCResources.bundle/Images/freshchat_cancel_icon</string>
		<key>TeamMemberAvatarIcon</key>
		<string></string>
		<key>SendIcon</key>
		<string>FCResources.bundle/Images/freshchat_send_icon</string>
		<key>RecordIcon</key>
		<string>FCResources.bundle/Images/freshchat_mic_icon</string>
		<key>DropDownIcon</key>
		<string>FCResources.bundle/Images/freshhcat_dropdown_icon</string>
		<key>TeamMemberAvatarStyle</key>
		<dict>
			<key>visible</key>
			<true/>
		</dict>
		<key>TeamMemberNameTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>TeamMemberMessageTextStyle</key>
		<dict>
			<key>textColorLink</key>
			<string>#2283F6</string>
			<key>fontName</key>
			<string>Arial</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string></string>
		</dict>
		<key>TeamMemberMessageTimeTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>11.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>UserMessageTextStyle</key>
		<dict>
			<key>textColorLink</key>
			<string>#2283F6</string>
			<key>fontName</key>
			<string>Arial</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string></string>
		</dict>
		<key>UserMessageTimeTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>11.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>MessageButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>borderColor</key>
			<string>#000000</string>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>selectedColor</key>
			<string>#000000</string>
		</dict>
		<key>MessageReplyInputViewStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>textColorHint</key>
			<string>#647A8E</string>
			<key>textCursorColor</key>
			<string>#808285</string>
			<key>borderColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>buttonColor</key>
			<string>#000000</string>
		</dict>
		<key>MessageReplyViewStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>dividerColor</key>
			<string>#CFD7DF</string>
		</dict>
		<key>TranslationMessageStyle</key>
		<dict>
			<key>originalMessageTitleTextStyle</key>
			<dict>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>12.0f</string>
				<key>textColor</key>
				<string>#607A96</string>
			</dict>
			<key>toggleIconBackgroundColor</key>
			<string>#D6D8D9</string>
			<key>originalMessageBarColor</key>
			<string>#607A96</string>
		</dict>
		<key>PlaceholderValidation</key>
		<dict>
			<key>validationTextStyle</key>
			<dict>
				<key>textSize</key>
				<string>13.0f</string>
				<key>textColor</key>
				<string>#C82124</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
			</dict>
			<key>dividerBackgroundColor</key>
			<string>#FAC386</string>
			<key>background</key>
			<string>#FEF1E1</string>
		</dict>
		<key>FeedbackRatingStyle</key>
		<dict>
			<key>selectedfontName</key>
			<string>SYS_SEMI_BOLD_FONT_NAME</string>
			<key>selectedTitleTextColor</key>
			<string>#12344D</string>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textColor</key>
			<string>#475867</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>submitButtonStyle</key>
			<dict>
				<key>backgroundColor</key>
				<string>#12344D</string>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
			</dict>
		</dict>
		<key>FeedbackSuccessDialog</key>
		<dict>
			<key>dividerBackgroundColor</key>
			<string>#EBEFF3</string>
			<key>backgroundColor</key>
			<string>#FEFFFF</string>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textColor</key>
			<string>#475867</string>
			<key>textSize</key>
			<string>15.0f</string>
		</dict>
		<key>FeedbackPollStyle</key>
		<dict>
			<key>dividerBackgroundColor</key>
			<string>#EBEFF3</string>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>submitButtonStyle</key>
			<dict>
				<key>backgroundColor</key>
				<string>#12344D</string>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
			</dict>
			<key>optionButtonStyle</key>
			<dict>
				<key>selectedfontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
				<key>selectedTextColor</key>
				<string>#2C5CC5</string>
				<key>selectedColor</key>
				<string>#E5F2FD</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textColor</key>
				<string>#12344D</string>
				<key>textSize</key>
				<string>15.0f</string>
				<key>backgroundColor</key>
				<string>#EBEFF3</string>
			</dict>
		</dict>
		<key>FallbackMessageStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string></string>
			<key>borderColor</key>
			<string></string>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>CustomerSurveyDialogStyle</key>
		<dict>
			<key>background</key>
			<string>#F7F7F7</string>
			<key>dividerColor</key>
			<string>#B3B3B3</string>
		</dict>
		<key>CustomerSurveyRatingBarStyle</key>
		<dict>
			<key>foreground</key>
			<string>#0BA4DB</string>
		</dict>
		<key>CustomerSurveyQuestionTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>CustomerSurveyCommentsInputViewStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>borderColor</key>
			<string>#808285</string>
		</dict>
		<key>CustomerSurveySubmitButtonTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#378CF8</string>
			<key>background</key>
			<string>#F7F7F7</string>
		</dict>
		<key>ChatResolutionPromptTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#1D2129</string>
		</dict>
		<key>ChatResolutionPromptViewStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>ChatResolutionNegativeButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#535353</string>
			<key>background</key>
			<string>#F6F6F5</string>
			<key>borderColor</key>
			<string>#808285</string>
		</dict>
		<key>ChatResolutionPositiveButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#007AFF</string>
			<key>borderColor</key>
			<string>#808285</string>
		</dict>
		<key>BackButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>16.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>ConversationBannerMessageStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#34AADC</string>
		</dict>
		<key>MessagePadding</key>
		<dict>
			<key>UserMessageLeft</key>
			<string>10</string>
			<key>UserMessageRight</key>
			<string>8</string>
			<key>UserMessageTop</key>
			<string>6</string>
			<key>UserMessageBottom</key>
			<string>8</string>
			<key>AgentMessageLeft</key>
			<string>8</string>
			<key>AgentMessageRight</key>
			<string>8</string>
			<key>AgentMessageTop</key>
			<string>6</string>
			<key>AgentMessageBottom</key>
			<string>8</string>
		</dict>
		<key>MessageListStyle</key>
		<dict>
			<key>background</key>
			<string>FCResources.bundle/Images/freshchat_conv_bg</string>
		</dict>
		<key>ChatBubbleInsets</key>
		<dict>
			<key>AgentBubbleTop</key>
			<string>10</string>
			<key>AgentBubbleLeft</key>
			<string>10</string>
			<key>AgentBubbleBottom</key>
			<string>10</string>
			<key>AgentBubbleRight</key>
			<string>10</string>
			<key>UserBubbleTop</key>
			<string>10</string>
			<key>UserBubbleLeft</key>
			<string>10</string>
			<key>UserBubbleBottom</key>
			<string>10</string>
			<key>UserBubbleRight</key>
			<string>10</string>
		</dict>
		<key>UnsupportedContentTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>10.0f</string>
			<key>textColor</key>
			<string>#8D96A5</string>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>borderColor</key>
			<string>#F2F3F5</string>
			<key>icon</key>
			<string>FCResources.bundle/Images/freshchat_unsupported_content_icon</string>
		</dict>
		<key>QuickReplyStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>fontName</key>
			<string>Arial</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#12344D</string>
			<key>cellBackground</key>
			<string>#FFFFFF</string>
			<key>cornerRadius</key>
			<string>8</string>
			<key>cellPadding</key>
			<string>10</string>
			<key>rowPadding</key>
			<string>10</string>
			<key>maxHeightPercentage</key>
			<string>35</string>
			<key>borderColor</key>
			<string>#CFD7DF</string>
			<key>selectedTextStyle</key>
			<dict>
				<key>selectedCellFontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
			</dict>
			<key>selectedCellBorderColor</key>
			<string>#BBDCFE</string>
			<key>selectedCellBackgroundColor</key>
			<string>#E5F2FD</string>
			<key>selectedCellTextColor</key>
			<string>#2C5CC5</string>
		</dict>
		<key>QuickActions</key>
		<dict>
			<key>SlashCommand</key>
			<dict>
				<key>selectedColor</key>
				<string>#EBEFF3</string>
				<key>textColor</key>
				<string>#12344D</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0f</string>
				<key>background</key>
				<string>#FFFFFF</string>
			</dict>
			<key>Menu</key>
			<dict>
				<key>selectedColor</key>
				<string>#12344D</string>
				<key>textColor</key>
				<string>#12344D</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>menuButtonColor</key>
				<string>#45A4EC</string>
				<key>background</key>
				<string></string>
			</dict>
			<key>Button</key>
			<dict>
				<key>textColor</key>
				<string>#12344D</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0f</string>
				<key>buttonColor</key>
				<string>#F5F7F9</string>
				<key>selectedColor</key>
				<string>#CFD7DF</string>
				<key>background</key>
				<string>#FFFFFF</string>
				<key>borderColor</key>
				<string>#CFD7DF</string>
				<key>dividerColor</key>
				<string>#F3F5F7</string>
			</dict>
		</dict>
		<key>DropDownBarStyle</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>borderColor</key>
			<string>#45A4EC</string>
			<key>textStyle</key>
			<dict>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0f</string>
				<key>textColor</key>
				<string>#2C5CC5</string>
			</dict>
		</dict>
		<key>DropDownPickerStyle</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>SearchResultsView</key>
			<dict>
				<key>textColor</key>
				<string>#475867</string>
				<key>textSize</key>
				<string>15.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
			</dict>
			<key>multiSelectDropDownStyle</key>
			<dict>
				<key>textSize</key>
				<string>17.0f</string>
				<key>selectedBackgroundColor</key>
				<string>#E5F2FD</string>
				<key>selectedfontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
				<key>selectedTitleTextColor</key>
				<string>#2C5CC5</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
			</dict>
			<key>SelectionViewStyle</key>
			<dict>
				<key>selectedDropDowns</key>
				<dict>
					<key>textColor</key>
					<string>#475867</string>
					<key>textSize</key>
					<string>15.0f</string>
					<key>fontName</key>
					<string>SYS_DEFAULT_FONT_NAME</string>
				</dict>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>backgroundColor</key>
				<string>#F5F7F9</string>
				<key>textColor</key>
				<string>#2C5CC5</string>
			</dict>
			<key>NavigationBar</key>
			<dict>
				<key>grabberBackgroundColor</key>
				<string>#CFD7DF</string>
				<key>sendButtonStyle</key>
				<dict>
					<key>textSize</key>
					<string>17.0f</string>
					<key>textColor</key>
					<string>#2C5CC5</string>
					<key>selectedfontName</key>
					<string>SYS_SEMI_BOLD_FONT_NAME</string>
				</dict>
				<key>titleTextStyle</key>
				<dict>
					<key>fontName</key>
					<string>SYS_SEMI_BOLD_FONT_NAME</string>
					<key>textColor</key>
					<string>#12344D</string>
					<key>textSize</key>
					<string>17.0f</string>
				</dict>
			</dict>
			<key>optionTextStyle</key>
			<dict>
				<key>highlightViewBackgroundColor</key>
				<string>#12344D</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>textColor</key>
				<string>#12344D</string>
			</dict>
		</dict>
		<key>CarouselCardStyle</key>
		<dict>
			<key>subTitleTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#475867</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0f</string>
			</dict>
			<key>titleTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#12344D</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0f</string>
			</dict>
			<key>descriptionTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#12344D</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>13.0f</string>
			</dict>
			<key>actionButtonStyle</key>
			<dict>
				<key>carouselButtonStyle</key>
				<dict>
					<key>textSize</key>
					<string>15.0f</string>
					<key>textColor</key>
					<string>#0079FF</string>
					<key>fontName</key>
					<string>SYS_DEFAULT_BOLD_FONT_NAME</string>
				</dict>
				<key>CarouselSelectButton</key>
				<dict>
					<key>textColor</key>
					<string>#FFFFFF</string>
					<key>backgroundColor</key>
					<string>#12344D</string>
				</dict>
				<key>CarouselViewButton</key>
				<dict>
					<key>textColor</key>
					<string>#12344D</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>borderColor</key>
					<string>#12344D</string>
				</dict>
				<key>CarouselMultiselectNormalStateStyle</key>
				<dict>
					<key>textColor</key>
					<string>#12344D</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
				</dict>
				<key>CarouselMultiselectSelectedStateStyle</key>
				<dict>
					<key>textColor</key>
					<string>#12344D</string>
					<key>backgroundColor</key>
					<string>#F5F7F9</string>
				</dict>
			</dict>
			<key>selectedCardStyle</key>
			<dict>
				<key>background</key>
				<string>#FFFFFF</string>
			</dict>
		</dict>
		<key>MultiSelectBottomSheetStyle</key>
		<dict>
			<key>selectedfontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textColor</key>
			<string>#475867</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>submitButtonStyle</key>
			<dict>
				<key>backgroundColor</key>
				<string>#12344D</string>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>textSize</key>
				<string>15.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
			</dict>
			<key>deselectAllButtonStyle</key>
			<dict>
				<key>backgroundColor</key>
				<string>#F5F7F9</string>
				<key>textColor</key>
				<string>#12344D</string>
				<key>borderColor</key>
				<string>#CFD7DF</string>
				<key>textSize</key>
				<string>15.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
			</dict>
		</dict>
		<key>CalendarInviteOptionsStyle</key>
		<dict>
			<key>findSlotButtonStyle</key>
			<dict>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0</string>
				<key>background</key>
				<string>#0053BF</string>
			</dict>
			<key>notInterestedButtonStyle</key>
			<dict>
				<key>textColor</key>
				<string>#687D99</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0</string>
			</dict>
		</dict>
		<key>CalendarEventStyle</key>
		<dict>
			<key>statusStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293A5A</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0</string>
			</dict>
			<key>meetingDurationTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293B5B</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>12.0</string>
			</dict>
			<key>avatarBorderColor</key>
			<string>#FFFFFF</string>
			<key>descriptionTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293B5B</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>12.0</string>
			</dict>
			<key>meetingTimeTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293A5A</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0</string>
			</dict>
			<key>meetingDateTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293B5B</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>12.0</string>
			</dict>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>CalendarBannerStyle</key>
		<dict>
			<key>textStyle</key>
			<dict>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>12.0</string>
				<key>background</key>
				<string>#4F5F78</string>
			</dict>
		</dict>
		<key>NewMessagesCountButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>borderColor</key>
			<string>#E1E2E6</string>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>NewMessagesDividerStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#707C92</string>
		</dict>
		<key>FAQSuggestionStyle</key>
		<dict>
			<key>textStyle</key>
			<dict>
				<key>textColor</key>
				<string>#12344D</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>13.0</string>
			</dict>
			<key>FAQSuggestionIcon</key>
			<string>FCResources.bundle/Images/freshchat_faq_suggestion_icon</string>
			<key>FAQSelectionHighlightColor</key>
			<string>#EBEDF0</string>
		</dict>
		<key>CollectionFragmentStyle</key>
		<dict>
			<key>borderColor</key>
			<string>#CFD7DF</string>
		</dict>
		<key>AttachmentMessageStyle</key>
		<dict>
			<key>nameTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#12344D</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0</string>
			</dict>
			<key>infoTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#475867</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>13.0</string>
			</dict>
			<key>borderColor</key>
			<string>#CFD7DF</string>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>dotSeperatorColor</key>
			<string>#92A2B1</string>
		</dict>
		<key>AttachmentPreviewScreen</key>
		<dict>
			<key>SendButton</key>
			<dict>
				<key>backgroundColor</key>
				<string>#12344D</string>
				<key>textSize</key>
				<string>17.0</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_BOLD_FONT_NAME</string>
				<key>textColor</key>
				<string>#FFFFFF</string>
			</dict>
		</dict>
		<key>AttachmentInputViewStyle</key>
		<dict>
			<key>titleTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#2C5CC5</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>17.0</string>
			</dict>
		</dict>
		<key>DateAndTimePickerStyle</key>
		<dict>
			<key>titleTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#12344D</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>17.0f</string>
			</dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>selectedDateTextColor</key>
			<string>#12344D</string>
			<key>sendButtonStyle</key>
			<dict>
				<key>backgroundColor</key>
				<string>#12344D</string>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>textSize</key>
				<string>17.0f</string>
				<key>fontName</key>
				<string>SYS_SEMI_BOLD_FONT_NAME</string>
			</dict>
		</dict>
	</dict>
	<key>ChannelList</key>
	<dict>
		<key>ChannelNameTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#222222</string>
		</dict>
		<key>ChannelDescriptionTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#ABABAB</string>
			<key>maxLines</key>
			<string>1</string>
		</dict>
		<key>ChannelLastUpdatedAtTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>12.0f</string>
			<key>textColor</key>
			<string>#ABABAB</string>
		</dict>
		<key>ChannelUnreadCountTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>13.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#3399FF</string>
		</dict>
		<key>ChannelAltIconStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>22.0f</string>
			<key>background</key>
			<string>#3F51B5</string>
		</dict>
		<key>ChannelListStyle</key>
		<dict>
			<key>background</key>
			<string>#F8FAFA</string>
			<key>dividerColor</key>
			<string>#DE4147</string>
		</dict>
		<key>ChannelListItemStyle</key>
		<dict>
			<key>backgroundSelected</key>
			<string>#DCDCDC</string>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>ChannelListEmptyTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#525454</string>
		</dict>
	</dict>
	<key>Calendar</key>
	<dict>
		<key>NavigationBar</key>
		<dict>
			<key>titleTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#283A59</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0</string>
			</dict>
			<key>meetingDurationTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#465571</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>13.0</string>
			</dict>
			<key>background</key>
			<string>#F5F5F5</string>
			<key>dividerColor</key>
			<string>#B3B3B3</string>
		</dict>
		<key>EmailPrompt</key>
		<dict>
			<key>descriptionTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#000000</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0</string>
			</dict>
			<key>emailInputViewStyle</key>
			<dict>
				<key>textColor</key>
				<string>#495973</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0</string>
			</dict>
			<key>nextButtonStyle</key>
			<dict>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0</string>
				<key>background</key>
				<string>#0249A6</string>
			</dict>
		</dict>
		<key>TimeSlotPrompt</key>
		<dict>
			<key>sessionNameTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#808080</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0</string>
			</dict>
			<key>dateTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293B5B</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0</string>
			</dict>
			<key>slotButtonStyle</key>
			<dict>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textColor</key>
				<string>#293B5B</string>
				<key>textSize</key>
				<string>13.0</string>
				<key>background</key>
				<string>#FFFFFF</string>
				<key>selectBackground</key>
				<string>#091E42</string>
				<key>borderColor</key>
				<string>#595959</string>
			</dict>
			<key>showMoreButtonStyle</key>
			<dict>
				<key>textColor</key>
				<string>#707C92</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>14.0</string>
				<key>background</key>
				<string>#FFFFFF</string>
				<key>borderColor</key>
				<string>#707C92</string>
			</dict>
			<key>stateDescriptionTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293B5B</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>16.0</string>
			</dict>
			<key>dividerColor</key>
			<string>#E1E4E8</string>
		</dict>
		<key>ConfirmationPrompt</key>
		<dict>
			<key>avatarBorderColor</key>
			<string>#FFFFFF</string>
			<key>descriptionTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293B5B</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>16.0</string>
			</dict>
			<key>meetingTimeTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293B5B</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_BOLD_FONT_NAME</string>
				<key>textSize</key>
				<string>21.0</string>
			</dict>
			<key>meetingDateTextStyle</key>
			<dict>
				<key>textColor</key>
				<string>#293B5B</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>16.0</string>
			</dict>
			<key>confirmButtonStyle</key>
			<dict>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0</string>
				<key>background</key>
				<string>#0249A6</string>
			</dict>
			<key>changeSlotButtonStyle</key>
			<dict>
				<key>textColor</key>
				<string>#707C92</string>
				<key>fontName</key>
				<string>SYS_DEFAULT_FONT_NAME</string>
				<key>textSize</key>
				<string>15.0</string>
				<key>background</key>
				<string>#FFFFFF</string>
				<key>borderColor</key>
				<string>#707C92</string>
			</dict>
		</dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>NavigationBar</key>
	<dict>
		<key>TitleTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>ActionButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>16.0f</string>
			<key>textColor</key>
			<string>#0079FF</string>
		</dict>
		<key>NavigationBarStyle</key>
		<dict>
			<key>background</key>
			<string>#F8F8F8</string>
		</dict>
		<key>SubTitleTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textColor</key>
			<string>#6D6D6D</string>
		</dict>
	</dict>
	<key>FAQDetail</key>
	<dict>
		<key>FAQUpvoteButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#007AFF</string>
			<key>borderColor</key>
			<string>#D8D8D8</string>
		</dict>
		<key>FAQDownvoteButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#535353</string>
			<key>background</key>
			<string>#F6F6F5</string>
			<key>borderColor</key>
			<string>#C1C1BF</string>
		</dict>
		<key>FAQVotingPromptViewStyle</key>
		<dict>
			<key>background</key>
			<string>#F6F6F5</string>
		</dict>
		<key>FAQVotingPromptTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#535353</string>
		</dict>
	</dict>
	<key>Notification</key>
	<dict>
		<key>TitleTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#EFEFEF</string>
		</dict>
		<key>BodyTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#EFEFEF</string>
		</dict>
		<key>IconStyle</key>
		<dict>
			<key>borderColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#3F51B5</string>
		</dict>
		<key>NotificationStyle</key>
		<dict>
			<key>background</key>
			<string>#6D6D6D</string>
		</dict>
		<key>NotificationCancel</key>
		<string>FCResources.bundle/Images/freshchat_notification_cancel_icon</string>
		<key>ShowPushPrompt</key>
		<true/>
	</dict>
	<key>Miscellaneous</key>
	<dict>
		<key>DefaultGlobalFont</key>
		<string>SYS_DEFAULT_FONT_NAME</string>
		<key>ContactUsTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>background</key>
			<string>#4D90E9</string>
		</dict>
		<key>StatusBarStyle</key>
		<dict>
			<key>StatusBarBackground</key>
			<string>UIStatusBarStyleDefault</string>
		</dict>
		<key>ImagePreviewStyle</key>
		<dict>
			<key>background</key>
			<string>#000000</string>
		</dict>
		<key>ProgressBarStyle</key>
		<dict>
			<key>progressBarColor</key>
			<string>#6D6D6D</string>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
		</dict>
	</dict>
	<key>SearchBar</key>
	<dict>
		<key>CancelButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>textColor</key>
			<string>#2C5CC5</string>
		</dict>
		<key>SearchQueryTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>textColor</key>
			<string>#12344D</string>
			<key>textColorHint</key>
			<string>#12344D</string>
			<key>borderColor</key>
			<string>#FFFFFF</string>
			<key>textCursorColor</key>
			<string>#2C5CC5</string>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>SearchBarStyle</key>
		<dict>
			<key>background</key>
			<string>#EBEFF3</string>
			<key>searchIcon</key>
			<string>FCResources.bundle/Images/freshchat_search_bar_search_icon</string>
			<key>clearIcon</key>
			<string>FCResources.bundle/Images/freshchat_search_bar_clear_icon</string>
		</dict>
	</dict>
	<key>FAQList</key>
	<dict>
		<key>FAQListStyle</key>
		<dict>
			<key>background</key>
			<string>#F8FAFA</string>
		</dict>
		<key>FAQListItemStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>backgroundSelected</key>
			<string>#C9C9CA</string>
			<key>dividerColor</key>
			<string>#C9C9CA</string>
		</dict>
		<key>FAQTitleTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>FAQListEmptyTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#525454</string>
		</dict>
	</dict>
	<key>FAQCategoryList</key>
	<dict>
		<key>FAQCategoryNameTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#222222</string>
		</dict>
		<key>FAQCategoryDescriptionTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>14.0f</string>
			<key>textColor</key>
			<string>#808285</string>
			<key>maxLines</key>
			<string>1</string>
		</dict>
		<key>FAQCategoryListStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>FAQCategoryAltIconStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>22.0f</string>
			<key>background</key>
			<string>#535353</string>
		</dict>
		<key>FAQCategoryListItemStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>backgroundSelected</key>
			<string>#DCDCDC</string>
			<key>dividerColor</key>
			<string>#C9C9CA</string>
			<key>borderColor</key>
			<string>#9A9B9E</string>
		</dict>
	</dict>
	<key>ErrorPage</key>
	<dict>
		<key>ErrorPageStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>HeaderTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>textColor</key>
			<string>#394660</string>
		</dict>
		<key>SubTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#394660</string>
		</dict>
		<key>ButtonStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#707C92</string>
			<key>borderColor</key>
			<string>#707C92</string>
		</dict>
	</dict>
	<key>Pagination</key>
	<dict>
		<key>PaginationStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>RetryTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>15.0f</string>
			<key>textColor</key>
			<string>#77777B</string>
		</dict>
		<key>LoadMoreTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>textColor</key>
			<string>#77777B</string>
		</dict>
	</dict>
	<key>LoadingScreen</key>
	<dict>
		<key>LoadingScreenTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>textColor</key>
			<string>#77777B</string>
		</dict>
		<key>LoadingScreenStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
	</dict>
	<key>SearchScreen</key>
	<dict>
		<key>InfoStyle</key>
		<dict>
			<key>background</key>
			<string>#FFFFFF</string>
		</dict>
		<key>InfoTextStyle</key>
		<dict>
			<key>fontName</key>
			<string>SYS_DEFAULT_FONT_NAME</string>
			<key>textSize</key>
			<string>17.0f</string>
			<key>textColor</key>
			<string>#495973</string>
		</dict>
	</dict>
	<key>Images</key>
	<dict>
		<key>MultiselectSelectedStateCheckboxIcon</key>
		<string>FCResources.bundle/Images/fc_multiselect_selected_checkbox_icon</string>
		<key>MultiselectCarouselNormalStateCheckboxIcon</key>
		<string>FCResources.bundle/Images/fc_multiselect_unselected_checkbox_icon</string>
		<key>DropDownClearIcon</key>
		<string>FCResources.bundle/Images/fc_search_bar_clear_icon</string>
		<key>DropDownSearchIcon</key>
		<string>FCResources.bundle/Images/fc_dropdown_search_icon</string>
		<key>DropDownCancelledIcon</key>
		<string>FCResources.bundle/Images/fc_dropdown_cancel</string>
		<key>DropDownSelectedIcon</key>
		<string>FCResources.bundle/Images/fc_dropdown_selected_icon</string>
		<key>DropDownUnselectedIcon</key>
		<string>FCResources.bundle/Images/fc_dropdown_unselected_icon</string>
		<key>SlashCommandIcon</key>
		<string>FCResources.bundle/Images/fc_slash_command_image</string>
		<key>NotificationCancel</key>
		<string>FCResources.bundle/Images/freshchat_notification_cancel_icon</string>
		<key>MenuQuickActionIcon</key>
		<string>FCResources.bundle/Images/freshchat_menu_quick_actions</string>
		<key>RatingStarIcon</key>
		<string>FCResources.bundle/Images/freshchat_star_icon</string>
		<key>RatingUnstarIcon</key>
		<string>FCResources.bundle/Images/freshchat_unstar_icon</string>
		<key>OpinionPollIcon</key>
		<string>FCResources.bundle/Images/freshchat_opinionpoll_tick_icon</string>
		<key>SearchIcon</key>
		<string>FCResources.bundle/Images/freshchat_search_icon</string>
		<key>ContactUsIcon</key>
		<string>FCResources.bundle/Images/freshchat_contact_us_icon</string>
		<key>ContactUsLightIcon</key>
		<string>FCResources.bundle/Images/freshchat_contact_us_light_icon</string>
		<key>BackButton</key>
		<string>FCResources.bundle/Images/freshchat_back_button_icon</string>
		<key>MessageSending</key>
		<string>FCResources.bundle/Images/freshchat_sending_icon</string>
		<key>MessageSent</key>
		<string>FCResources.bundle/Images/freshchat_sent_icon</string>
		<key>ImageMessagePlaceholder</key>
		<string>FCResources.bundle/Images/freshchat_image_placeholder</string>
		<key>AudioMessagePlayButton</key>
		<string>FCResources.bundle/Images/freshchat_play_icon</string>
		<key>AudioMessageStopButton</key>
		<string>FCResources.bundle/Images/freshchat_stop_icon</string>
		<key>AudioProgessBarMin</key>
		<string>FCResources.bundle/Images/freshchat_audio_progess_min_icon</string>
		<key>AudioProgessBarMax</key>
		<string>FCResources.bundle/Images/freshchat_audio_progess_max_icon</string>
		<key>TableViewAccessoryIcon</key>
		<string>FCResources.bundle/Images/freshchat_right_arrow_icon</string>
		<key>EmptySearchImage</key>
		<string>FCResources.bundle/Images/freshchat_empty_search_icon</string>
		<key>CloseImagePreview</key>
		<string>FCResources.bundle/Images/freshchat_close_image_preview</string>
		<key>ChannelImage</key>
		<string>FCResources.bundle/Images/freshchat_channels_image</string>
		<key>FAQImage</key>
		<string>FCResources.bundle/Images/freshchat_faq_image</string>
		<key>CloseButton</key>
		<string></string>
		<key>CarouselPlaceholderImage</key>
		<string>FCResources.bundle/Images/freshchat_carousel_placeholder_image</string>
		<key>CarouselErrorImage</key>
		<string>FCResources.bundle/Images/freshchat_carousel_error_image</string>
		<key>CalendarIcon</key>
		<string>FCResources.bundle/Images/freshchat_calendar_icon</string>
		<key>CalendarCloseIcon</key>
		<string>FCResources.bundle/Images/freshchat_calendar_close_icon</string>
		<key>CalendarScheduledIcon</key>
		<string>FCResources.bundle/Images/freshchat_calendar_scheduled_icon</string>
		<key>CalendarBannerImage</key>
		<string>FCResources.bundle/Images/freshchat_calendar_banner</string>
		<key>CalendarAgentAvatar</key>
		<string>FCResources.bundle/Images/freshchat_calendar_agent_avatar</string>
		<key>CalendarCustomerAvatar</key>
		<string>FCResources.bundle/Images/freshchat_calendar_customer_avatar</string>
		<key>CalenderCancelledIcon</key>
		<string>FCResources.bundle/Images/freshchat_calendar_cancelled_icon</string>
		<key>CalenderPendingConfirmationIcon</key>
		<string>FCResources.bundle/Images/freshchat_calendar_pending_icon</string>
		<key>CalendarErrorIcon</key>
		<string>FCResources.bundle/Images/freshchat_calendar_error_icon</string>
		<key>APIErrorIcon</key>
		<string>FCResources.bundle/Images/freshchat_error_encountered</string>
		<key>NoContentIcon</key>
		<string>FCResources.bundle/Images/freshchat_no_content</string>
		<key>InternetErrorIcon</key>
		<string>FCResources.bundle/Images/freshchat_network_error</string>
		<key>TranslationToggleIcon</key>
		<string>FCResources.bundle/Images/freshchat_msg_translate_toggle_icon</string>
		<key>AttachmentFragmentIcon</key>
		<string>FCResources.bundle/Images/attachment_fragment_icon</string>
		<key>CountryCodeDropdownIcon</key>
		<string>FCResources.bundle/Images/freshchat_down_icon</string>
		<key>OpenFAQArticle</key>
		<string>FCResources.bundle/Images/freshchat_open_new_tab</string>
		<key>QuickReplyButtonRedirectionIcon</key>
		<string>FCResources.bundle/Images/fc_quickreply_redirection</string>
		<key>GrabberIcon</key>
		<string>FCResources.bundle/Images/freshchat_grabber_icon</string>
		<key>CheckmarkIcon</key>
		<string>FCResources.bundle/Images/freshchat_country_checkmark</string>
	</dict>
</dict>
</plist>
