<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConversationsUI</key>
	<dict>
		<key>ChatBubbleMessageFontName</key>
		<string>HelveticaNeue</string>
		<key>ChatBubbleMessageFontSize</key>
		<string>14.0f</string>
		<key>AgentMessageTextColor</key>
		<string>000000</string>
		<key>UserMessageTextColor</key>
		<string>000000</string>
		<key>ChatBubbleTimeFontName</key>
		<string>HelveticaNeue</string>
		<key>ChatBubbleTimeFontSize</key>
		<string>11.0f</string>
		<key>ConversationUIFontName</key>
		<string>HelveticaNeue</string>
		<key>ActionButtonTextColor</key>
		<string>000000</string>
		<key>ActionButtonSelectedTextColor</key>
		<string>000000</string>
		<key>ActionButtonColor</key>
		<string>F5F5F5</string>
		<key>ActionButtonBorderColor</key>
		<string>F1F1F1</string>
		<key>HyperlinkColor</key>
		<string>2701A0</string>
		<key>InputTextFontColor</key>
		<string>000000</string>
		<key>InputTextFontName</key>
		<string>HelveticaNeue</string>
		<key>InputTextFontSize</key>
		<string>14.0f</string>
		<key>SendButtonColor</key>
		<string>0079FF</string>
		<key>Banner</key>
		<dict>
			<key>BackgroundColor</key>
			<string>34AADC</string>
			<key>MessageFontName</key>
			<string>HelveticaNeue</string>
			<key>MessageFontSize</key>
			<string>14.0f</string>
			<key>MessageTextColor</key>
			<string>FFFFFF</string>
		</dict>
	</dict>
	<key>ChatBubbleInsets</key>
	<dict>
		<key>AgentBubbleTop</key>
		<string>2.5</string>
		<key>AgentBubbleLeft</key>
		<string>4.5</string>
		<key>AgentBubbleBottom</key>
		<string>4</string>
		<key>AgentBubbleRight</key>
		<string>3</string>
		<key>UserBubbleTop</key>
		<string>2.5</string>
		<key>UserBubbleLeft</key>
		<string>3</string>
		<key>UserBubbleBottom</key>
		<string>4</string>
		<key>UserBubbleRight</key>
		<string>4.5</string>
	</dict>
	<key>Dialogues</key>
	<dict>
		<key>YesButtonFontColor</key>
		<string>FFFFFF</string>
		<key>YesButtonFontName</key>
		<string>HelveticaNeue</string>
		<key>YesButtonFontSize</key>
		<string>14</string>
		<key>YesButtonBackgroundColor</key>
		<string>007AFF</string>
		<key>NoButtonFontColor</key>
		<string>535353</string>
		<key>NoButtonFontName</key>
		<string>HelveticaNeue</string>
		<key>NoButtonFontSize</key>
		<string>14</string>
		<key>NoButtonBackgroundColor</key>
		<string>F6F6F5</string>
		<key>NoButtonBorderColor</key>
		<string>C1C1BF</string>
		<key>YesButtonBorderColor</key>
		<string>D8D8D8</string>
		<key>ButtonColor</key>
		<string>007AFF</string>
		<key>BackgroundColor</key>
		<string>F6F6F5</string>
		<key>LabelFontColor</key>
		<string>535353</string>
		<key>LabelFontName</key>
		<string>HelveticaNeue</string>
		<key>LabelFontSize</key>
		<string>15</string>
	</dict>
	<key>Notification</key>
	<dict>
		<key>ChannelTitleFontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>ChannelTitleFontSize</key>
		<string>14</string>
		<key>ChannelTitleFontColor</key>
		<string>EFEFEF</string>
		<key>ChannelIconBorderColor</key>
		<string>FFFFFF</string>
		<key>MessageFontName</key>
		<string>HelveticaNeue</string>
		<key>MessageFontSize</key>
		<string>14</string>
		<key>MessageFontColor</key>
		<string>EFEFEF</string>
		<key>BackgroundColor</key>
		<string>525454</string>
	</dict>
	<key>ChannelListView</key>
	<dict>
		<key>ChannelTitleFontColor</key>
		<string>222222</string>
		<key>ChannelTitleFontName</key>
		<string>HelveticaNeue-Medium</string>
		<key>ChannelTitleFontSize</key>
		<string>15.0f</string>
		<key>ChannelDescriptionFontColor</key>
		<string>ABABAB</string>
		<key>ChannelDescriptionFontName</key>
		<string>HelveticaNeue</string>
		<key>ChannelDescriptionFontSize</key>
		<string>14.0f</string>
		<key>LastUpdatedTimeFontColor</key>
		<string>ABABAB</string>
		<key>LastUpdatedTimeFontName</key>
		<string>HelveticaNeue</string>
		<key>LastUpdatedTimeFontSize</key>
		<string>12.0f</string>
		<key>UnreadBadgeColor</key>
		<string>3399FF</string>
		<key>UnreadBadgeTitleColor</key>
		<string>FFFFFF</string>
		<key>UnreadBadgeFontName</key>
		<string>HelveticaNeue</string>
		<key>UnreadBadgeFontSize</key>
		<string>13f</string>
		<key>ChannelIconPlaceholderBackgroundColor</key>
		<string>555555</string>
		<key>ChannelIconPlaceholderCharFontSize</key>
		<string>20.0f</string>
		<key>ChannelIconPlaceholderCharFontName</key>
		<string>HelveticaNeue</string>
	</dict>
	<key>EmptyResultView</key>
	<dict>
		<key>MessageFontName</key>
		<string>HelveticaNeue</string>
		<key>MessageTextColor</key>
		<string>525454</string>
		<key>MessageFontSize</key>
		<string>15.0f</string>
	</dict>
	<key>NavigationBar</key>
	<dict>
		<key>BackgroundColor</key>
		<string>F8F8F8</string>
		<key>ButtonColor</key>
		<string>0079FF</string>
		<key>ButtonFontName</key>
		<string>HelveticaNeue</string>
		<key>ButtonFontSize</key>
		<string>16.0f</string>
		<key>TitleColor</key>
		<string>000000</string>
		<key>TitleFontName</key>
		<string>HelveticaNeue</string>
		<key>TitleFontSize</key>
		<string>17.0f</string>
	</dict>
	<key>OverallSettings</key>
	<dict>
		<key>BackgroundColor</key>
		<string>EFEFF4</string>
		<key>TalkToUsButtonFontColor</key>
		<string>FFFFFF</string>
		<key>TalkToUsButtonBackgroundColor</key>
		<string>4D90E9</string>
		<key>TalkToUsButtonFontName</key>
		<string>Helvetica</string>
		<key>TalkToUsButtonFontSize</key>
		<string>14.0f</string>
		<key>StatusBarStyle</key>
		<string>UIStatusBarStyleDefault</string>
	</dict>
	<key>SearchBar</key>
	<dict>
		<key>CancelButtonColor</key>
		<string>0079FF</string>
		<key>CancelButtonFontName</key>
		<string>Helvetica</string>
		<key>CancelButtonFontSize</key>
		<string>14.0f</string>
		<key>FontColor</key>
		<string>000000</string>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<string>13.0f</string>
		<key>InnerBackgroundColor</key>
		<string>FFFFFF</string>
		<key>OuterBackgroundColor</key>
		<string>F8F8F8</string>
		<key>CursorColor</key>
		<string>0079FF</string>
	</dict>
	<key>TableView</key>
	<dict>
		<key>CellBackgroundColor</key>
		<string>FFFFFF</string>
		<key>CellSeparatorColor</key>
		<string>F2F2F2</string>
		<key>TitleFontColor</key>
		<string>222222</string>
		<key>TitleFontName</key>
		<string>HelveticaNeue</string>
		<key>TitleFontSize</key>
		<string>14.0f</string>
		<key>DetailFontColor</key>
		<string>ACACAC</string>
		<key>DetailFontName</key>
		<string>HelveticaNeue</string>
		<key>DetailFontSize</key>
		<string>14.0f</string>
	</dict>
	<key>ArticlesList</key>
	<dict>
		<key>TitleFontColor</key>
		<string>525252</string>
		<key>TitleFontName</key>
		<string>HelveticaNeue</string>
		<key>TitleFontSize</key>
		<string>14.0f</string>
	</dict>
	<key>GridViewCell</key>
	<dict>
		<key>TitleFontColor</key>
		<string>222222</string>
		<key>TitleFontName</key>
		<string>HelveticaNeue</string>
		<key>TitleFontSize</key>
		<string>14.0f</string>
		<key>ImageViewBackgroundColor</key>
		<string>FFFFFF</string>
		<key>BorderColor</key>
		<string>F2F2F2</string>
	</dict>
	<key>Images</key>
	<dict>
		<key>NotificationCancel</key>
		<string>HLResources.bundle/Images/hotline_notification_cancel</string>
		<key>Search</key>
		<string>HLResources.bundle/Images/hotline_search</string>
		<key>ContactUsIcon</key>
		<string>HLResources.bundle/Images/hotline_contact_us_icon</string>
		<key>ContactUsLightIcon</key>
		<string>HLResources.bundle/Images/hotline_contact_us_light_icon</string>
		<key>BackButton</key>
		<string>HLResources.bundle/Images/hotline_back_button</string>
		<key>AttachmentUpload</key>
		<string>HLResources.bundle/Images/hotline_upload</string>
		<key>BubbleRight</key>
		<string>HLResources.bundle/Images/hotline_bubble_right</string>
		<key>BubbleLeft</key>
		<string>HLResources.bundle/Images/hotline_bubble_left</string>
		<key>AudioToolbarCancel</key>
		<string>HLResources.bundle/Images/hotline_cancel</string>
		<key>Mic</key>
		<string>HLResources.bundle/Images/hotline_mic</string>
		<key>Send</key>
		<string>HLResources.bundle/Images/hotline_send</string>
		<key>MessageSending</key>
		<string>HLResources.bundle/Images/hotline_sending</string>
		<key>MessageSent</key>
		<string>HLResources.bundle/Images/hotline_sent</string>
		<key>ImagePlaceholder</key>
		<string>HLResources.bundle/Images/hotline_image_placeholder</string>
		<key>UserAvatarImage</key>
		<string>HLResources.bundle/Images/hotline_avatar_image_user</string>
		<key>AgentAvatarImage</key>
		<string>HLResources.bundle/Images/hotline_avatar_image_agent</string>
		<key>AudioMessagePlayButton</key>
		<string>HLResources.bundle/Images/hotline_play</string>
		<key>AudioMessageStopButton</key>
		<string>HLResources.bundle/Images/hotline_stop</string>
		<key>AudioProgessBarMin</key>
		<string>HLResources.bundle/Images/hotline_audio_progess_min</string>
		<key>AudioProgessBarMax</key>
		<string>HLResources.bundle/Images/hotline_audio_progess_max</string>
		<key>TableViewAccessoryIcon</key>
		<string>HLResources.bundle/Images/hotline_right_arrow</string>
		<key>EmptySearchImage</key>
		<string>HLResources.bundle/Images/hotline_empty_search_icon</string>
		<key>CloseImagePreview</key>
		<string>HLResources.bundle/Images/hotline_close_image_preview</string>
		<key>ChannelImage</key>
		<string>HLResources.bundle/Images/hotline_channels_image</string>
		<key>FAQImage</key>
		<string>HLResources.bundle/Images/hotline_faq_image</string>
	</dict>
</dict>
</plist>
