<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConversationsUI</key>
	<dict>
		<key>ConversationViewTitleTextColor</key>
		<string>000000</string>
		<key>ConversationViewBackgroundColor</key>
		<string>FFFFFF</string>
		<key>AlwaysPollForMessages</key>
		<false/>
		<key>TextInputHintText</key>
		<string>Type something</string>
		<key>ConversationUIFontName</key>
		<string>HelveticaNeue</string>
		<key>BusinessProfileImageName</key>
		<string>konotor_supportprofile</string>
		<key>UserProfileImageName</key>
		<string>konotor_profile</string>
		<key>ShowsBusinessProfileImage</key>
		<true/>
		<key>ShowsUserProfileImage</key>
		<false/>
		<key>PollingTimeChatInFocus</key>
		<integer>5</integer>
		<key>PollingTimeChatNotInFocus</key>
		<integer>0</integer>
		<key>ShowsBusinessMessageSenderName</key>
		<false/>
		<key>ShowsUserMessageSenderName</key>
		<false/>
		<key>BusinessMessageSenderName</key>
		<string>Support</string>
		<key>UserMessageSenderName</key>
		<string>You</string>
		<key>ActionButtonTextColor</key>
		<string>FFFFFF</string>
		<key>ActionButtonColor</key>
		<string>050505</string>
		<key>BusinessMessageTextColor</key>
		<string>000000</string>
		<key>UserMessageTextColor</key>
		<string>050505</string>
		<key>BusinessChatBubbleImageName</key>
		<string>messagebubble_left</string>
		<key>UserChatBubbleImageName</key>
		<string>messagebubble_right</string>
		<key>ChatBubbleFontName</key>
		<string>HelveticaNeue</string>
		<key>ChatBubbleFontSize</key>
		<string>14.0f</string>
		<key>HyperlinkColor</key>
		<string>2701A0</string>
		<key>InputTextFontColor</key>
		<string>000000</string>
		<key>LastUpdatedTimeColor</key>
		<string>9D9D9D</string>
		<key>RateOnAppStoreButtonTintColor</key>
		<string>0079FF</string>
		<key>RateOnAppStoreLabelColor</key>
		<string>000000</string>
		<key>RateOnAppStoreLabelFontName</key>
		<string>HelveticaNeue</string>
		<key>RateOnAppStoreLabelFontSize</key>
		<string>12.0f</string>
		<key>ReceivedMessageFontColor</key>
		<string>4E4E4E</string>
		<key>SendButtonColor</key>
		<string>0079FF</string>
		<key>SentMessageFontColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>Dialogues</key>
	<dict>
		<key>ButtonFontColor</key>
		<string>007AFF</string>
		<key>ButtonFontName</key>
		<string>HelveticaNeue</string>
		<key>ButtonFontSize</key>
		<string>18</string>
		<key>DialogueBackgroundColor</key>
		<string>FFFFFF</string>
		<key>DialogueLabelFontColor</key>
		<string>000000</string>
		<key>DialogueLabelFontName</key>
		<string>HelveticaNeue</string>
		<key>DialogueLabelFontSize</key>
		<string>20</string>
	</dict>
	<key>FeedbackView</key>
	<dict>
		<key>FontColor</key>
		<string>000000</string>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<string>15.0f</string>
		<key>TicketBodyBackgroundColor</key>
		<string>EFEFF4</string>
		<key>TicketBodyPlaceholderColor</key>
		<string>B3B3B3</string>
		<key>UserFieldBackgroundColor</key>
		<string>F5F5F5</string>
		<key>UserFieldPlaceholderColor</key>
		<string>B3B3B3</string>
	</dict>
	<key>MyConversationsCell</key>
	<dict>
		<key>BackgroundColor</key>
		<string>FFFFFF</string>
		<key>FontColor</key>
		<string>222222</string>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<string>15.0f</string>
	</dict>
	<key>ChannelListView</key>
	<dict>
		<key>BackgroundColor</key>
		<string>FFFFFF</string>
		<key>ChannelTitleFontColor</key>
		<string>222222</string>
		<key>ChannelTitleFontName</key>
		<string>HelveticaNeue</string>
		<key>ChannelTitleFontSize</key>
		<string>14.0f</string>
		<key>ChannelDescriptionFontColor</key>
		<string>222222</string>
		<key>ChannelDescriptionFontName</key>
		<string>HelveticaNeue</string>
		<key>ChannelDescriptionFontSize</key>
		<string>14.0f</string>
		<key>LastUpdatedTimeFontColor</key>
		<string>222222</string>
		<key>LastUpdatedTimeFontName</key>
		<string>HelveticaNeue</string>
		<key>LastUpdatedTimeFontSize</key>
		<string>14.0f</string>
		<key>UnreadBadgeColor</key>
		<string>3399FF</string>
		<key>UnreadBadgeTitleColor</key>
		<string>FFFFFF</string>
		<key>UnreadBadgeFontName</key>
		<string>HelveticaNeue</string>
		<key>UnreadBadgeFontSize</key>
		<string>14.0f</string>
	</dict>
	<key>NavigationBar</key>
	<dict>
		<key>BackgroundColor</key>
		<string>F8F8F8</string>
		<key>ButtonColor</key>
		<string>0079FF</string>
		<key>ButtonFontName</key>
		<string>HelveticaNeue</string>
		<key>ButtonFontSize</key>
		<string>16.0f</string>
		<key>TitleColor</key>
		<string>000000</string>
		<key>TitleFontName</key>
		<string>HelveticaNeue</string>
		<key>TitleFontSize</key>
		<string>18.0f</string>
	</dict>
	<key>OverallSettings</key>
	<dict>
		<key>BackgroundColor</key>
		<string>EFEFF4</string>
		<key>NoItemsFoundMessageColor</key>
		<string>000000</string>
		<key>TalkToUsButtonColor</key>
		<string>0079FF</string>
		<key>TalkToUsButtonFontName</key>
		<string>Helvetica</string>
		<key>TalkToUsButtonFontSize</key>
		<string>18.0f</string>
	</dict>
	<key>SearchBar</key>
	<dict>
		<key>CancelButtonColor</key>
		<string>0079FF</string>
		<key>CancelButtonFontName</key>
		<string>Helvetica</string>
		<key>CancelButtonFontSize</key>
		<string>14.0f</string>
		<key>FontColor</key>
		<string>000000</string>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<string>13.0f</string>
		<key>InnerBackgroundColor</key>
		<string>FFFFFF</string>
		<key>OuterBackgroundColor</key>
		<string>F8F8F8</string>
		<key>CursorColor</key>
		<string>0079FF</string>
	</dict>
	<key>TableView</key>
	<dict>
		<key>CellBackgroundColor</key>
		<string>FFFFFF</string>
		<key>CellSeparatorColor</key>
		<string>C8C8C8</string>
		<key>TitleFontColor</key>
		<string>222222</string>
		<key>TitleFontName</key>
		<string>HelveticaNeue-Medium</string>
		<key>TitleFontSize</key>
		<string>14.0f</string>
		<key>DetailFontColor</key>
		<string>222222</string>
		<key>DetailFontName</key>
		<string>HelveticaNeue</string>
		<key>DetailFontSize</key>
		<string>14.0f</string>
		<key>ContactUsFontName</key>
		<string>HelveticaNeue</string>
		<key>ContactUsFontColor</key>
		<string>222222</string>
		<key>ContactUsFontSize</key>
		<string>15.0f</string>
		<key>TimeDetailTextColor</key>
		<string>D3D3D3</string>
		<key>ImageViewBackgroundColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>GridView</key>
	<dict>
		<key>ItemBackgroundColor</key>
		<string>FFFFFF</string>
		<key>ItemSeparatorColor</key>
		<string>C8C8C8</string>
		<key>CategoryTitleFontColor</key>
		<string>222222</string>
		<key>CategoryTitleFontName</key>
		<string>HelveticaNeue</string>
		<key>CategoryTitleFontSize</key>
		<string>15.0f</string>
		<key>ContactUsFontName</key>
		<string>HelveticaNeue</string>
		<key>ContactUsFontColor</key>
		<string>222222</string>
		<key>ContactUsFontSize</key>
		<string>15.0f</string>
	</dict>
	<key>GridViewCell</key>
	<dict>
		<key>CategoryTitleFontColor</key>
		<string>222222</string>
		<key>CategoryTitleFontName</key>
		<string>HelveticaNeue</string>
		<key>CategoryTitleFontSize</key>
		<string>15.0f</string>
		<key>ImageViewBackgroundColor</key>
		<string>FFFFFF</string>
	</dict>
</dict>
</plist>
