<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConversationsUI</key>
	<dict>
		<key>ChatBubbleFontName</key>
		<string>HelveticaNeue</string>
		<key>ChatBubbleFontSize</key>
		<string>14.0f</string>
		<key>HyperlinkColor</key>
		<string>FAFAFA</string>
		<key>InputTextFontColor</key>
		<string>FFFFFF</string>
		<key>LastUpdatedTimeColor</key>
		<string>9D9D9D</string>
		<key>RateOnAppStoreButtonTintColor</key>
		<string>66B0FF</string>
		<key>RateOnAppStoreLabelColor</key>
		<string>FFFFFF</string>
		<key>RateOnAppStoreLabelFontName</key>
		<string>HelveticaNeue</string>
		<key>RateOnAppStoreLabelFontSize</key>
		<string>12.0f</string>
		<key>ReceivedMessageFontColor</key>
		<string>CACACA</string>
		<key>SendButtonColor</key>
		<string>66B0FF</string>
		<key>SentMessageFontColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>Dialogues</key>
	<dict>
		<key>ButtonFontColor</key>
		<string>66B0FF</string>
		<key>ButtonFontName</key>
		<string>HelveticaNeue</string>
		<key>ButtonFontSize</key>
		<string>18</string>
		<key>DialogueBackgroundColor</key>
		<string>4D4D4D</string>
		<key>DialogueLabelFontColor</key>
		<string>FFFFFF</string>
		<key>DialogueLabelFontName</key>
		<string>HelveticaNeue</string>
		<key>DialogueLabelFontSize</key>
		<string>20</string>
	</dict>
	<key>FeedbackView</key>
	<dict>
		<key>FontColor</key>
		<string>FFFFFF</string>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<string>15.0f</string>
		<key>TicketBodyBackgroundColor</key>
		<string>1A1A1A</string>
		<key>TicketBodyPlaceholderColor</key>
		<string>626262</string>
		<key>UserFieldBackgroundColor</key>
		<string>303030</string>
		<key>UserFieldPlaceholderColor</key>
		<string>626262</string>
	</dict>
	<key>MyConversationsCell</key>
	<dict>
		<key>BackgroundColor</key>
		<string>333333</string>
		<key>FontColor</key>
		<string>FFFFFF</string>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<string>15.0f</string>
	</dict>
	<key>NavigationBar</key>
	<dict>
		<key>BackgroundColor</key>
		<string>4D4D4D</string>
		<key>ButtonColor</key>
		<string>66B0FF</string>
		<key>ButtonFontName</key>
		<string>HelveticaNeue</string>
		<key>ButtonFontSize</key>
		<string>16.0f</string>
		<key>TitleColor</key>
		<string>FFFFFF</string>
		<key>TitleFontName</key>
		<string>HelveticaNeue</string>
		<key>TitleFontSize</key>
		<string>18.0f</string>
	</dict>
	<key>OverallSettings</key>
	<dict>
		<key>BackgroundColor</key>
		<string>1A1A1A</string>
		<key>NoItemsFoundMessageColor</key>
		<string>FFFFFF</string>
		<key>TalkToUsButtonColor</key>
		<string>66B0FF</string>
		<key>TalkToUsButtonFontName</key>
		<string>Helvetica</string>
		<key>TalkToUsButtonFontSize</key>
		<string>18.0f</string>
		<key>UnreadBadgeColor</key>
		<string>E62828</string>
		<key>UnreadBadgeTitleColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>SearchBar</key>
	<dict>
		<key>CancelButtonColor</key>
		<string>66B0FF</string>
		<key>CancelButtonFontName</key>
		<string>Helvetica</string>
		<key>CancelButtonFontSize</key>
		<string>14.0f</string>
		<key>FontColor</key>
		<string>B3B3B3</string>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<string>13.0f</string>
		<key>InnerBackgroundColor</key>
		<string>FFFFFF</string>
		<key>OuterBackgroundColor</key>
		<string>000000</string>
	</dict>
	<key>TableView</key>
	<dict>
		<key>CellBackgroundColor</key>
		<string>333333</string>
		<key>CellSeparatorColor</key>
		<string>515151</string>
		<key>FontColor</key>
		<string>FFFFFF</string>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<string>15.0f</string>
		<key>SectionHeaderBackgroundColor</key>
		<string>222222</string>
		<key>SectionHeaderFontColor</key>
		<string>FFFFFF</string>
		<key>SectionHeaderFontName</key>
		<string>HelveticaNeue</string>
		<key>SectionHeaderHeight</key>
		<string>20.0f</string>
		<key>SectionHeaderTitleColor</key>
		<string>FFFFFF</string>
		<key>SectionHeaderTitleFont</key>
		<string>HelveticaNeue</string>
		<key>SectionHeaderTitleFontSize</key>
		<string>13.0f</string>
		<key>TimeDetailTextColor</key>
		<string>D3D3D3</string>
	</dict>
</dict>
</plist>
